@use "./../../styles/utilities/mixins" as m;

.wrapAuthor {
  .author {
    text-align: center;
    margin: 0 auto;
    max-width: 610px;

    @include m.breakpoint-up(md) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 32px;
    }

    @include m.breakpoint-up(lg) {
      text-align: left;
    }

    .authorThumb {
      margin-bottom: 24px;
      img {
        width: 72px;
        height: 72px;
        border-radius: 100%;
      }
    }

    .authorInfo {
      .authorName {
        font-size: 30px;
        margin-bottom: 24px;
      }

      .authorDescription {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1rem;
        margin-bottom: 24px;
      }

      .socialLinks {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;

        .dot {
          display: inline-block;
          padding-bottom: 5px;
          margin-left: 3px;
          margin-right: 3px;
        }
      }

      .follow {
        color: #1c9963;
        font-size: 0.9rem;
        padding: 7px 20px;
        margin-left: 5px;
        background: none;
        border: 1px solid #02b875;
        border-radius: 50px;
      }
    }
  }
}

.wrapAuthorPosts {
  background-color: #fafafa;
  padding: 40px 0 46px;
  .authorPosts {
    @include m.breakpoint-up(lg) {
      max-width: 760px;
      margin: 0px auto;
    }
  }
}
