@use "./../utilities/mixins" as m;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    // xl: 1140px,
    // xxl: 1320px
  );

  @each $name, $max-width in $container-max-widths {
    @include m.breakpoint-up($name) {
      max-width: $max-width;
    }
  }
}

.d {
  &-block {
    display: block;
  }

  &-none {
    display: none;
  }
}

.p {
  &y {
    &-8 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
